{% extends 'security.html.twig' %}

{% block title %}{{ 'label.security.title_of_login'|trans }}{% endblock %}

{% block sonata_wrapper %}
<div class="login-box">
        <div class="login-logo">
            <a href="{{ path('sonata_admin_dashboard') }}">
                <span>{{ 'label.security.login'|trans }}</span>
            </a>
        </div>
        <div class="login-box-body">
            {% block sonata_user_login_form %}
                {% block sonata_user_login_error %}
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                {% endblock %}
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <p class="login-box-msg">{{ 'label.security.please_sign_in'|trans }}</p>
                <form action="{{ path("app_login") }}" method="post" role="form">
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" id="username" name="email" value="{{ last_username }}" required="required" placeholder="{{ 'label.security.email'|trans }}"/>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" id="password" name="password" required="required" placeholder="{{ 'label.security.password'|trans }}"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'label.security.make_signin'|trans }}</button>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            {% endblock %}
        </div>
    </div>
{# <form method="post">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    <div class="mb-3">
        Hoşgeldiniz Sayın, {{ app.user.identity }}
    </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Lütfen Giriş Yapınız</h1>
    <div class="form-group">
        <label class="control-label" for="identity">Kullanıcı Kimliği</label>
        <input type="text" value="{{ last_username }}" name="identity" id="inputIdentity" class="form-control" required
            autofocus>
    </div>
    <div class="form-group">
        <label class="control-label" for="inputPassword">Şifre</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


    <button class="btn btn-lg btn-primary" type="submit">
        Giriş
    </button>
</form> #}
{% endblock %}