<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Kütüb-i Hakkani{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <style>
        figure.effect-ming figcaption::before {
            border: 2px solid #009999!important;
        }
        figure.effect-ming figcaption {
            color: #009999!important;
        }
    </style>
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html>