{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_nav %}
<ul class="nav navbar-nav navbar-right">
    {% if app.user %}
    <li><a class="nav-link" href="{{ path('app_logout') }}">{{ 'label.security.base.logout'|trans }}</a></li>
    {% else %}
    {# <li><a class="nav-link" href="{{ path('app_login') }}">{{ 'label.security.base.login'|trans }}</a></li>
        <li>
            <a class="nav-link" href="{{ path('app_register') }}">{{ 'label.security.base.register'|trans }}</a>
        </li> #}
    {% endif %}
</ul>
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}
{% block sonata_wrapper %}
{% endblock sonata_wrapper %}