{% extends 'base.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script>
    $(window).on("load", function () {
        $('body').addClass('loaded');
    });
</script>
{% endblock %}

{% block body %}
<!-- Page Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            Kütüb-i Hakkani
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="{{ path('app_books') }}">
                        {{ 'label.public.books_link'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="{{ path('app_authors') }}">
                        {{ 'label.public.authors_link'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="{{ path('app_categories') }}">
                        {{ 'label.public.categories_link'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="tm-hero d-flex justify-content-end align-items-center" data-parallax="scroll"
    data-image-src="{{ asset('build/img/hakkani-hero.png') }}">
    {# <form class="d-flex tm-search-form">
        <input class="form-control tm-search-input" type="search" placeholder="{{ 'label.public.search'|trans }}"
            aria-label="Search">
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form> #}
</div>

<div class="container-fluid tm-container-content tm-mt-60">
    <div class="row mb-4">
        <h2 class="col-6 tm-text-primary">
            {{ 'label.public.books_main_title'|trans }}
        </h2>
        <div class="col-6 d-flex justify-content-end align-items-center">
            {{ 'label.public.page_number'|trans }}&nbsp;
            <span class="tm-text-primary">{{page}}</span>&nbsp;/&nbsp;{{pagesCount}}
        </div>
    </div>
    <div class="row tm-mb-90 tm-gallery d-flex justify-content-center align-items-center">
        {% for book in books %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item" style="height: 290px; background-color: #FFFFFF;">
                    <img src="{{ path('get_poster', {posterName: book.poster.posterName}) }}" alt="Image"
                        class="img-fluid h-100 d-inline-block">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>{{ book.title }}</h2>
                        <a href="{{ path('app_book', {id: book.id}) }}"></a>
                    </figcaption>
                </figure>
                <div>
                    {# <span class="tm-text-gray-light">{{book.generatedAt|date("d/m/Y", "Europe/Istanbul")}}</span> #}
                    <div class="row d-flex align-items-center justify-content-center text-dark"><b>{{ book.title }}</b></div>
                    <div class="row d-flex align-items-center justify-content-center text-secondary">{{ book.author.fullName }}</div>
                </div>
            </div>
        {% else %}
            {{'label.public.no_book_exists'|trans}}
        {% endfor %}
    </div> <!-- row -->
    <div class="row tm-mb-90">
        <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
            <a href="{{ path('app_books', {page: page - 1}) }}"
                class="{{page > 1 ? 'btn btn-primary tm-btn-prev mb-2' : 'btn btn-primary tm-btn-prev mb-2 disabled'}}">{{ 'label.public.previous_page'|trans }}</a>
            <div class="tm-paging d-flex">
                {% for p in 1..pagesCount %}
                <a href="{{ path('app_books', {page: p}) }}"
                    class="{{p == page ? 'active tm-paging-link' : 'tm-paging-link'}}">1</a>
                {% endfor %}
            </div>
            <a href="{{ path('app_books', {page: page + 1}) }}"
                class="{{page < pageCount ? 'btn btn-primary tm-btn-next' : 'btn btn-primary tm-btn-next disabled'}}">{{ 'label.public.next_page'|trans }}</a>
        </div>
    </div>
</div> <!-- container-fluid, tm-container-content -->

{# <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">About Catalog-Z</h3>
                    <p>Catalog-Z is free <a rel="sponsored" href="https://v5.getbootstrap.com/">Bootstrap 5</a> Alpha 2 HTML Template for video and photo websites. You can freely use this TemplateMo layout for a front-end integration with any kind of CMS website.</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">Our Links</h3>
                    <ul class="tm-footer-links pl-0">
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Our Company</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                    <ul class="tm-social-links d-flex justify-content-end pl-0 mb-5">
                        <li class="mb-2"><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                        <li class="mb-2"><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li class="mb-2"><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                        <li class="mb-2"><a href="https://pinterest.com"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                    <a href="#" class="tm-text-gray text-right d-block mb-2">Terms of Use</a>
                    <a href="#" class="tm-text-gray text-right d-block">Privacy Policy</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                    Copyright 2020 Catalog-Z Company. All rights reserved.
                </div>
                <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                    Designed by <a href="https://templatemo.com" class="tm-text-gray" rel="sponsored" target="_parent">TemplateMo</a>
                </div>
            </div>
        </div>
    </footer> #}
{% endblock %}